alleukV4q20N0_contigs.unique.trim.unique.good.filter.unique2.precluster.pick.wodinostramenonosingletons.an.unique_list.0.02.rep.count_table
alleukV4q20N0_contigs.unique.trim.unique.good.filter.unique2.precluster.pick.stramenopilesnosingletons.an.unique_list.0.02.rep.count_table
alleukV4q20N0_contigs.unique.trim.unique.good.filter.unique2.precluster.pick.dinophytanosingletons.an.unique_list.0.02.rep.count_table
.Rproj.user
