[google-metapr2]
host=35.240.132.125
user=metapr2_taxmarc
password=taxmarc2020
collation-server = utf8_general_ci
#character-set-server = utf8
character-set-server = utf8mb4
skip-character-set-client-handshake
# See: https://stackoverflow.com/questions/30932708/how-to-change-dplyrtbl-connection-encoding-to-utf8
